@page "/productTypes"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-md-6">
        <h3>Product Types</h3>
    </div>
    <div class="col-md-6">
        <div class="float-right">
            <button class="btn btn-primary mr-2"
                    @onclick="Create">
                Add
            </button>
            @if (productTypes?.Count() > 0)
            {
                <div class="form-group d-inline-block">
                    <select class="form-control" @onchange="SetSize">
                        @foreach (var size in sizes)
                        {
                            if (this.size == size)
                            {
                                <option selected>@size</option>
                            }
                            else
                            {
                                <option>@size</option>
                            }
                        }
                    </select>
                </div>
            }
        </div>
    </div>
</div>
@if (productTypes?.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                @*<th scope="col">ID</th>*@
                <th scope="col">Name</th>
                <th scope="col">Products</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in productTypes)
            {
                <tr>
                    @*<th scope="row">@item.ID</th>*@
                    <td>@item.Name</td>
                    <td>@item.Products.Count</td>
                    <td>
                        <span class="oi oi-pencil text-primary lead border-primary m-1 pointer"
                              @onclick="@(() => Update(item.ID))">
                        </span>
                        @*<span class="oi oi-delete text-danger lead border-danger m-1 pointer"
                              @onclick="@(async () => await Delete(item.ID))">
                        </span>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="btn-toolbar float-right" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <button type="button"
                    class="btn btn-sm btn-secondary"
                    @onclick="PreviousPage">
                <span class="oi oi-caret-left small"></span>
            </button>
        </div>
        <div class="btn-group mr-2" role="group">
            @foreach (var page in Enumerable.Range(1, totalPages))
            {
                if (this.page == page)
                {
                    <button type="button"
                            class="btn btn-sm btn-secondary">
                        @(page)
                    </button>
                }
                else
                {
                    <button type="button"
                            class="btn btn-sm btn-outline-secondary"
                            @onclick="@(() => SetPage(page))">
                        @(page)
                    </button>
                }
            }
        </div>
        <div class="btn-group" role="group">
            <button type="button"
                    class="btn btn-sm btn-secondary"
                    @onclick="NextPage">
                <span class="oi oi-caret-right small"></span>
            </button>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        At the moment there is no data.
    </div>
}

@code {
    #region Constants
    private readonly int[] sizes = new[] { 5, 10, 25 };
    private const int indent = 2;
    #endregion

    #region Fields
    private int size;
    private int page = 1;
    private IEnumerable<ProductType> productTypes = Enumerable.Empty<ProductType>();
    private int totalPages = 0;
    #endregion

    public ProductTypes()
    {
        size = sizes[0];
    }

    protected override async Task OnInitializedAsync()
    {
        await RefreshItems();
        await base.OnInitializedAsync();
    }

    #region Handlers
    private async Task<double> Count()
    {
        return await Http.GetFromJsonAsync<double>($"api/{nameof(ProductTypes)}/{nameof(Count)}");
    }
    private async Task SetSize(ChangeEventArgs eventArgs)
    {
        if (int.TryParse(eventArgs.Value?.ToString(), out this.size))
        {
            await RefreshItems();
        }
    }
    private async Task SetPage(int page)
    {
        this.page = page;
        await RefreshItems();
    }
    private async Task RefreshItems()
    {
        productTypes = await Http.GetFromJsonAsync<IEnumerable<ProductType>>($"api/{nameof(ProductTypes)}/{size}/{page}");
        totalPages = (int)Math.Ceiling(await Count() / size);
    }
    private async Task PreviousPage()
    {
        if (page <= 1)
        {
            return;
        }

        await SetPage(page - 1);
    }
    private async Task NextPage()
    {
        if (page >= totalPages)
        {
            return;
        }

        await SetPage(page + 1);
    }
    private async Task Delete(int id)
    {
        var response = await Http.DeleteAsync($"api/{nameof(ProductTypes)}/{id}");
        if (response.IsSuccessStatusCode)
        {
            await RefreshItems();
        }
    }
    private void Update(int id)
    {
        NavigationManager.NavigateTo($"/{nameof(ProductTypes)}/{nameof(MergeProductType)}/{id}");
    }
    private void Create()
    {
        NavigationManager.NavigateTo($"/{nameof(ProductTypes)}/{nameof(MergeProductType)}");
    }
    #endregion
}
